<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connexion à MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3307/swing_hibernate?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <!-- update : conserve les données entre deux lancements (idéal pour un CRUD) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Classes annotées à enregistrer -->
        <mapping class="sn.l2gl.youssoupha.hibernate.model.models.Produit"/>
        <mapping class="sn.l2gl.youssoupha.hibernate.model.models.Categorie"/>
        <mapping class="sn.l2gl.youssoupha.hibernate.model.models.Vente"/>
        <mapping class="sn.l2gl.youssoupha.hibernate_simple.model.Etudiant"/>

    </session-factory>
</hibernate-configuration>
